In [1]:
# data science
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import datetime

# API
import requests
import json

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, text, inspect, func
import plotly.express as px

In [4]:
# Create engine using the `Tesla.sqlite` database file
engine = create_engine("sqlite:///Tesla.sqlite")

In [5]:
# INSPECT to confirm existence

# Create the inspector and connect it to the engine
inspector_gadget = inspect(engine)

# Collect the names of tables within the database
tables = inspector_gadget.get_table_names()

# print metadata for each table
for table in tables:
    print(table)
    print("-----------")
    
    # get columns
    columns = inspector_gadget.get_columns(table)
    for column in columns:
        print(column["name"], column["type"])

    print()

supercharge_locations
-----------
id INTEGER
Supercharger TEXT
Street_Address TEXT
City TEXT
State TEXT
Country TEXT
Stalls INTEGER
kW REAL
Elev_m INTEGER
Open_Date DATE
Latitude REAL
Longitude REAL

In [6]:
query = "Select * from supercharge_locations"
df51 = pd.read_sql(text(query), con=engine)
df51.head(50)
df51.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5024 entries, 0 to 5023
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              5024 non-null   int64
 1   Supercharger    5024 non-null   object
 2   Street_Address  5024 non-null   object
 3   City            5024 non-null   object
 4   State           5024 non-null   object
 5   Country         5024 non-null   object
 6   Stalls          5024 non-null   int64
 7   kW              5024 non-null   float64
 8   Elev_m          5024 non-null   int64
 9   Open_Date       5024 non-null   object
 10  Latitude        5024 non-null   float64
 11  Longitude       5024 non-null   float64
dtypes: float64(3), int64(3), object(6)
memory usage: 471.1+ KB

In [ ]:
df51.loc[df51.State == 'Limburg']

In [7]:
# Declare a Base using `automap_base()`
Base = automap_base()

# Use the Base class to reflect the database tables
Base.prepare(autoload_with=engine)

# Print all of the classes mapped to the Base

print(list(Base.classes))

[<class 'sqlalchemy.ext.automap.supercharge_locations'>]

In [8]:
query = f"""
        SELECT Country, COUNT(*) AS Location_Count, AVG(Stalls) AS Average_Stalls
        FROM supercharge_locations
        GROUP BY  Country
        ORDER BY Location_Count DESC;
        """
df5 = pd.read_sql(text(query), con=engine)
df5.head(50)

                 Country  Location_Count  Average_Stalls
0                    USA            1791       10.933557
1                  China            1701        6.283951
2                 Canada             186        9.516129
3                Germany             170       14.023529
4                 France             145       12.848276
5            South Korea             137        6.708029
6         United Kingdom             117        9.769231
7                 Norway             106       15.358491
8                 Taiwan              76        5.618421
9                 Sweden              73       12.972603
10                 Italy              71        9.915493
11             Australia              60        5.516667
12                 Spain              55        8.254545
13                 Japan              45        5.133333
14           Netherlands              42       16.857143
15                Mexico              32        5.312500
16           Switzerland              30       12.300000
17               Austria              30       12.000000
18               Finland              22        7.181818
19               Denmark              20       15.000000
20               Belgium              20       13.850000
21                Poland              12        4.500000
22               Ireland               9        6.000000
23              Portugal               8       10.750000
24               Iceland               8        4.375000
25               Hungary               8       11.500000
26        Czech Republic               7        7.428571
27               Romania               6        6.333333
28                Greece               6        5.000000
29              Slovenia               4        7.000000
30              Slovakia               4        4.500000
31  United Arab Emirates               3        8.000000
32              Thailand               3        7.000000
33                Serbia               3        5.333333
34           New Zealand               3        6.000000
35            Kazakhstan               2        5.000000
36                Israel               2       10.000000
37              Bulgaria               2        5.000000
38                Turkey               1        6.000000
39                Russia               1        4.000000
40            Luxembourg               1        4.000000
41             Lithuania               1        8.000000
42         Liechtenstein               1       10.000000

In [ ]:
fig = px.scatter(df5, x="Location_Count", y="Average_Stalls",
	         size="Location_Count", color="Country",
                 hover_name="Country", log_x=True, size_max=60)
fig.show()

In [ ]:
query = f"""
        SELECT Country, State, City, Stalls, kW
        FROM supercharge_locations
        ORDER BY Country, State, Stalls, kW DESC;
        """
df6 = pd.read_sql(text(query), con=engine)
df6.head(50)

In [ ]:
fig = px.sunburst(df6, path=['Country', 'State', 'City'], values='Stalls',
                  color='Stalls', hover_data=['kW'],
                  color_continuous_scale='RdBu',
                  color_continuous_midpoint=np.average(df6['Stalls'], weights=df6['kW']))
fig.show()

In [ ]:
query = f"""
        SELECT City, State, Country, COUNT(*) AS Location_Count
        FROM supercharge_locations
        GROUP BY City, State, Country
        ORDER BY Location_Count DESC;
        """
df1 = pd.read_sql(text(query), con=engine)
df1.head(50)

In [ ]:
query= f'''
    SELECT State, Country, AVG(Stalls) AS Average_Stalls, AVG(kW) AS Average_kW
    FROM supercharge_locations
    GROUP BY State
    ORDER BY Average_Stalls DESC, Average_kW DESC
    '''
df2 = pd.read_sql(text(query), con=engine)
display(df2.head(50))
df2.describe()

In [ ]:
query = f'''
        SELECT Country, COUNT(DISTINCT State) AS UniqueStatesCount
        FROM supercharge_locations
        GROUP BY Country
        ORDER BY UniqueStatesCount DESC;
        '''
df3 = pd.read_sql(text(query), con=engine)
df3.head(50)

In [ ]:
query = f'''

        SELECT DISTINCT State
        FROM supercharge_locations
        WHERE Country = 'USA';
        '''

df4 = pd.read_sql(text(query), con=engine)
df4.head(53)

In [12]:
query = f"""
        SELECT
            Country,
            State,
            City,
            SUM(Stalls) AS stalls,
            MIN(kW) AS min_kw,
            MAX(kW) AS max_kw
        FROM
            supercharge_locations
        ORDER BY
            stalls DESC;
        """

df9 = pd.read_sql(text(query), con=engine)
df9.head(53)

  Country State           City  stalls  min_kw  max_kw
0     USA    FL  Daytona Beach   46052    72.0   250.0

In [16]:
query = f"""
SELECT Country, State, COUNT(*) AS Location_Count, SUM(Stalls) AS stalls, AVG(KW) AS Average_KW
        FROM supercharge_locations
        GROUP BY  Country, State
        ORDER BY Location_Count DESC;
         """
df8 = pd.read_sql(text(query), con=engine)
df8.head(53)

           Country                 State  Location_Count  stalls  Average_KW
0              USA                    CA             358    5692  195.153631
1            China             Guangdong             239    1613  200.000000
2            China              Zhejiang             219    1300  215.168950
3            China              Shanghai             173    1374  201.676301
4              USA                    FL             134    1344  212.955224
5            China               Beijing             124     969  183.467742
6            China               Jiangsu             123     814  212.195122
7              USA                    TX             123    1371  205.682927
8   United Kingdom               England              99    1001  202.525253
9              USA                    NY              82     760  179.390244
10           China               Sichuan              81     458  190.246914
11          Canada                    ON              68     694  207.705882
12             USA                    PA              65     570  215.784615
13           China             Hong Kong              63     301  199.841270
14             USA                    VA              60     525  214.233333
15             USA                    NJ              58     552  205.758621
16           China              Shandong              56     335  212.142857
17             USA                    NC              56     560  220.357143
18          Canada                    BC              50     516  211.600000
19           China                Fujian              50     275  216.800000
20           China                 Hubei              50     336  218.800000
21           China                 Henan              49     302  210.816327
22             USA                    IL              48     546  205.291667
23         Germany               Bavaria              47     657  227.340426
24             USA                    MD              46     393  205.913043
25           China                Yunnan              45     193  230.444444
26             USA                    MA              45     436  194.222222
27             USA                    WA              45     471  192.933333
28           China             Chongqing              44     284  215.909091
29           China                 Hebei              42     231  207.857143
30             USA                    GA              42     499  212.880952
31     South Korea              Gyeonggi              40     249  231.250000
32           China               Shaanxi              38     246  176.315789
33             USA                    AZ              37     526  192.702703
34             USA                    CO              36     346  213.666667
35           China                 Hunan              33     202  179.090909
36             USA                    IN              33     321  212.242424
37             USA                    OR              33     342  208.242424
38             USA                    MI              32     290  186.562500
39             USA                    NV              30     307  196.400000
40             USA                    OH              30     273  194.066667
41           China               Tianjin              29     179  201.724138
42             USA                    CT              29     268  196.862069
43           China              Liaoning              28     155  196.428571
44          Canada                    QC              27     278  186.000000
45           China                 Anhui              27     158  212.592593
46     South Korea                 Seoul              27     169  211.481481
47           China               Jiangxi              26     134  206.153846
48         Germany     Baden-Württemberg              26     369  209.230769
49          France  Auvergne-Rhône-Alpes              25     306  213.000000
50             USA                    SC              25     264  230.000000
51             USA                    WI              25     199  196.200000
52           China               Guangxi              23     120  196.086957