In [1]:
# data science
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import datetime

# API
import requests
import json

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, text, inspect, func
import plotly.express as px

In [2]:
#Reading csv file
raw_data = pd.read_csv('Supercharge Locations.csv',encoding='unicode_escape')
raw_data.head(50)

,Supercharger,Street Address,City,State,Zip,Country,Stalls,kW,GPS,Elev(m),Open Date,Unnamed: 11
0,"Buellton, CA",555 McMurray Rd,Buellton,CA,93427,USA,10,150.0,"34.61456, -120.188387",114,7/13/2013,NaN
1,"Corning, CA",950 Hwy 99,Corning,CA,96021,USA,6,150.0,"39.926454, -122.198393",87,10/18/2013,NaN
2,"Barstow, CA",2812 Lenwood Rd,Barstow,CA,92311,USA,16,150.0,"34.849129, -117.085446",725,11/19/2012,NaN
3,"Tifton, GA",1310 U.S. 82,Tifton,GA,31794,USA,8,150.0,"31.448847, -83.53221",92,7/10/2014,NaN
4,"Roseville, CA",1151 Galleria Blvd,Roseville,CA,95678,USA,7,150.0,"38.771208, -121.266149",66,4/29/2014,NaN
5,"Oxnard, CA",2751 Park View Ct,Oxnard,CA,93036,USA,20,150.0,"34.238654, -119.177398",24,9/24/2014,NaN
6,"Daytona Beach - Gateway North Dr, FL",2330 Gateway N Dr,Daytona Beach,FL,32117,USA,12,250.0,"29.223265, -81.09972",7,11/19/2022,NaN
7,"Port St. Lucie, FL",1701 NW Peacock Blvd,Port St. Lucie,FL,34986,USA,16,150.0,"27.313023, -80.406688",8,7/25/2013,NaN
8,"Dallas - Park Ln, TX",8080 Park Ln,Dallas,TX,75231,USA,16,250.0,"32.867639, -96.767245",179,11/17/2021,NaN
9,"Dangjin, South Korea","63, Songak-ro, Songak-eup, Dangjin-si, Chungch...",Dangjin,Chungcheongnam,NaN,South Korea,4,120.0,"36.909503, 126.69407466",42,12/20/2019,NaN
10,"Björkliden, Sweden",Björklidenvägen 70,Björkliden,Lappland,981 93,Sweden,3,250.0,"68.407105, 18.676377",471,12/16/2021,NaN
11,"El Centro, CA",3451 S Dogwood Rd,El Centro,CA,92243,USA,12,150.0,"32.760837, -115.532486",-8,12/28/2014,NaN
12,"Rosemont, IL",5220 Fashion Outlets Way,Rosemont,IL,60018,USA,10,72.0,"41.975091, -87.866501",194,11/6/2018,NaN
13,"Indio, CA",42100 Jackson St,Indio,CA,92203,USA,46,250.0,"33.741484, -116.215019",-3,9/26/2014,NaN
14,"Savannah, GA",400 Airways Ave,Savannah,GA,31408,USA,8,125.0,"32.135507, -81.212767",6,1/15/2014,NaN
15,"Holbrook, AZ",2096 Navajo Blvd,Holbrook,AZ,86025,USA,12,250.0,"34.922962, -110.145558",1596,1/15/2014,NaN
16,"Mooresville, NC",125 Center Square Dr,Mooresville,NC,28117,USA,12,250.0,"35.587472, -80.873",260,11/19/2021,NaN
17,"Shenzhen - Longhua Tesla Center, China","Longhua Auto City, No.1 Minkang Rd, Longhua Di...",Shenzhen,Guangdong,518131,China,10,120.0,"22.6189, 114.05482",88,7/26/2014,NaN
18,"Buckeye, AZ",416 S Watson Rd,Buckeye,AZ,85326,USA,12,250.0,"33.443011, -112.556876",338,3/20/2014,NaN
19,"Atascadero, CA",6950 El Camino Real,Atascadero,CA,93422,USA,8,125.0,"35.48656, -120.66633",262,7/3/2013,NaN
20,"Gila Bend, AZ",826 W Pima St,Gila Bend,AZ,85337,USA,16,250.0,"32.943969, -112.733506",221,5/17/2014,NaN
21,"Yuma, AZ",310 N Madison Ave,Yuma,AZ,85364,USA,12,250.0,"32.726686, -114.619093",43,2/4/2014,NaN
22,"Greenwich - Northbound, CT",3000 Merritt Pkwy,Greenwich,CT,6830,USA,4,150.0,"41.041538, -73.671661",82,2/12/2014,NaN
23,"Milford - Northbound, CT",1 CT Turnpike N,Milford,CT,6460,USA,2,120.0,"41.245814, -73.008988",19,12/16/2012,NaN
24,"Port Orange, FL",5302 S Williamson Blvd,Port Orange,FL,32128,USA,6,150.0,"29.108566, -81.034569",7,9/13/2013,NaN
25,"Guangzhou - Panyu Yingbin Road Tesla Center, C...","Room 101-110, Building 1, Chuangqi I.PARK, No....",Guangzhou,Guangdong,NaN,China,6,250.0,"23.024584, 113.339562",0,9/11/2022,NaN
26,"Wenling - Taizhou Tesla Service, China","China Zhejiang Trading Center, Maoyang Village...",Wenling,Zhejiang,NaN,China,3,250.0,"28.39823725, 121.3092138",3,9/22/2022,NaN
27,"Worthington, MN",1290 Ryan's Rd,Worthington,MN,56187,USA,6,120.0,"43.63385, -95.595647",478,12/11/2013,NaN
28,"Burlington, NC",1080 Piper Ln,Burlington,NC,27215,USA,8,120.0,"36.07079, -79.511211",197,10/16/2013,NaN
29,"Quanzhou - Donghai Vanke, China","ITC Vanke Center, 188 Quannan Road, Bincheng C...",Quanzhou,Fujian,NaN,China,3,250.0,"24.8631032, 118.6796071",3,9/22/2022,NaN
30,"Spearfish, SD",3275 Old Belle Rd,Spearfish,SD,57783,USA,6,150.0,"44.520607, -103.890924",1077,10/30/2017,NaN
31,"Santee, SC",114 Bradford Blvd,Santee,SC,29142,USA,8,150.0,"33.485858, -80.475763",39,12/27/2013,NaN
32,"Mishawaka, IN",6501 Grape Rd,Mishawaka,IN,46545,USA,6,120.0,"41.7174, -86.1887",234,12/11/2013,NaN
33,"Angola, IN",3855 Indiana Rte 127,Angola,IN,46703,USA,6,120.0,"41.699048, -85.000326",329,12/9/2013,NaN
34,"Richmond, CA",2157 Meeker Ave,Richmond,CA,94804,USA,12,150.0,"37.919969, -122.348976",4,9/16/2019,NaN
35,"Farmington, NM",4200 Sierra Vista Dr,Farmington,NM,87402,USA,4,120.0,"36.766371, -108.144047",1673,1/10/2014,NaN
36,"Goodland, KS",2631 Enterprise Rd,Goodland,KS,67735,USA,6,150.0,"39.326253, -101.725171",1129,6/13/2014,NaN
37,"Somerset, PA",1030 N Center Ave,Somerset,PA,15501,USA,6,150.0,"40.017383, -79.077117",641,1/10/2014,NaN
38,"Ossining, NY",214 South Highland Ave,Ossining,NY,10510,USA,12,150.0,"41.144011, -73.861472",21,6/14/2019,NaN
39,"San Marcos, TX",3939 Interstate 35,San Marcos,TX,78666,USA,12,150.0,"29.827692, -97.979677",202,8/17/2013,NaN
40,"Columbus, TX",2535 Texas 71,Columbus,TX,78934,USA,6,120.0,"29.690062, -96.537725",57,10/7/2013,NaN
41,"Mitchell, SD",1305 W Havens St,Mitchell,SD,57301,USA,6,120.0,"43.701129, -98.04449999999997",410,12/18/2013,NaN
42,"San Luis Obispo - Higuera St, CA",3897 S Higuera St,San Luis Obispo,CA,93401,USA,20,250.0,"35.247841, -120.67193",38,11/19/2021,NaN
43,"East Greenwich, RI",1000 Division St,East Greenwich,RI,2818,USA,8,150.0,"41.660517, -71.497242",73,1/6/2014,NaN
44,"Maumee, OH",1391 Conant St,Maumee,OH,43537,USA,8,150.0,"41.57835, -83.66465",192,1/13/2014,NaN
45,"Pleasant Prairie, WI",11211 120th Ave,Pleasant Prairie,WI,53158,USA,8,120.0,"42.518715, -87.950428",216,2/13/2014,NaN
46,"Cranberry Township, PA",1308 Freedom Rd,Cranberry Township,PA,16066,USA,6,150.0,"40.683982, -80.10839",312,4/4/2014,NaN
47,"Rapid City, SD",2200 N Maple Ave,Rapid City,SD,57701,USA,4,120.0,"44.105601, -103.212569",1006,11/25/2013,NaN
48,"Lumberton, NC",5093 Fayetteville Rd,Lumberton,NC,28358,USA,8,150.0,"34.667629, -79.002343",40,1/17/2014,NaN
49,"Yokohama, Japan","Kanagawa, Totsuka Kamiyabe-cho",Yokohama,NaN,995-1,Japan,4,120.0,"35.4260146, 139.5375485",43,9/9/2014,NaN

In [3]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5876 entries, 0 to 5875
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Supercharger    5876 non-null   object
 1   Street Address  5876 non-null   object
 2   City            5876 non-null   object
 3   State           5754 non-null   object
 4   Zip             3947 non-null   object
 5   Country         5876 non-null   object
 6   Stalls          5876 non-null   int64
 7   kW              5870 non-null   float64
 8   GPS             5876 non-null   object
 9   Elev(m)         5876 non-null   int64
 10  Open Date       5126 non-null   object
 11  Unnamed: 11     0 non-null      float64
dtypes: float64(2), int64(2), object(8)
memory usage: 551.0+ KB

In [4]:
# splitting GPS Column to Latitude and Longitude
raw_data[['Latitude', 'Longitude']]=raw_data['GPS'].str.split(',', expand=True)
raw_data['Latitude']=raw_data['Latitude'].str.strip()
raw_data['Longitude']=raw_data['Longitude'].str.strip()
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5876 entries, 0 to 5875
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Supercharger    5876 non-null   object
 1   Street Address  5876 non-null   object
 2   City            5876 non-null   object
 3   State           5754 non-null   object
 4   Zip             3947 non-null   object
 5   Country         5876 non-null   object
 6   Stalls          5876 non-null   int64
 7   kW              5870 non-null   float64
 8   GPS             5876 non-null   object
 9   Elev(m)         5876 non-null   int64
 10  Open Date       5126 non-null   object
 11  Unnamed: 11     0 non-null      float64
 12  Latitude        5876 non-null   object
 13  Longitude       5876 non-null   object
dtypes: float64(2), int64(2), object(10)
memory usage: 642.8+ KB

In [5]:
#Deleting Extra Columns
raw_data=raw_data.drop(columns=['Zip', 'GPS', 'Unnamed: 11'], axis=1)
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5876 entries, 0 to 5875
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Supercharger    5876 non-null   object
 1   Street Address  5876 non-null   object
 2   City            5876 non-null   object
 3   State           5754 non-null   object
 4   Country         5876 non-null   object
 5   Stalls          5876 non-null   int64
 6   kW              5870 non-null   float64
 7   Elev(m)         5876 non-null   int64
 8   Open Date       5126 non-null   object
 9   Latitude        5876 non-null   object
 10  Longitude       5876 non-null   object
dtypes: float64(1), int64(2), object(8)
memory usage: 505.1+ KB

In [6]:
#changing data types
raw_data['Open Date']= pd.to_datetime(raw_data['Open Date'])
raw_data[['Stalls' , 'Elev(m)']]=raw_data[['Stalls' , 'Elev(m)']].astype(int)
raw_data[['kW', 'Latitude','Longitude']]=raw_data[['kW','Latitude','Longitude']].astype(float)
raw_data.head(50)

,Supercharger,Street Address,City,State,Country,Stalls,kW,Elev(m),Open Date,Latitude,Longitude
0,"Buellton, CA",555 McMurray Rd,Buellton,CA,USA,10,150.0,114,2013-07-13,34.614560,-120.188387
1,"Corning, CA",950 Hwy 99,Corning,CA,USA,6,150.0,87,2013-10-18,39.926454,-122.198393
2,"Barstow, CA",2812 Lenwood Rd,Barstow,CA,USA,16,150.0,725,2012-11-19,34.849129,-117.085446
3,"Tifton, GA",1310 U.S. 82,Tifton,GA,USA,8,150.0,92,2014-07-10,31.448847,-83.532210
4,"Roseville, CA",1151 Galleria Blvd,Roseville,CA,USA,7,150.0,66,2014-04-29,38.771208,-121.266149
5,"Oxnard, CA",2751 Park View Ct,Oxnard,CA,USA,20,150.0,24,2014-09-24,34.238654,-119.177398
6,"Daytona Beach - Gateway North Dr, FL",2330 Gateway N Dr,Daytona Beach,FL,USA,12,250.0,7,2022-11-19,29.223265,-81.099720
7,"Port St. Lucie, FL",1701 NW Peacock Blvd,Port St. Lucie,FL,USA,16,150.0,8,2013-07-25,27.313023,-80.406688
8,"Dallas - Park Ln, TX",8080 Park Ln,Dallas,TX,USA,16,250.0,179,2021-11-17,32.867639,-96.767245
9,"Dangjin, South Korea","63, Songak-ro, Songak-eup, Dangjin-si, Chungch...",Dangjin,Chungcheongnam,South Korea,4,120.0,42,2019-12-20,36.909503,126.694075
10,"Björkliden, Sweden",Björklidenvägen 70,Björkliden,Lappland,Sweden,3,250.0,471,2021-12-16,68.407105,18.676377
11,"El Centro, CA",3451 S Dogwood Rd,El Centro,CA,USA,12,150.0,-8,2014-12-28,32.760837,-115.532486
12,"Rosemont, IL",5220 Fashion Outlets Way,Rosemont,IL,USA,10,72.0,194,2018-11-06,41.975091,-87.866501
13,"Indio, CA",42100 Jackson St,Indio,CA,USA,46,250.0,-3,2014-09-26,33.741484,-116.215019
14,"Savannah, GA",400 Airways Ave,Savannah,GA,USA,8,125.0,6,2014-01-15,32.135507,-81.212767
15,"Holbrook, AZ",2096 Navajo Blvd,Holbrook,AZ,USA,12,250.0,1596,2014-01-15,34.922962,-110.145558
16,"Mooresville, NC",125 Center Square Dr,Mooresville,NC,USA,12,250.0,260,2021-11-19,35.587472,-80.873000
17,"Shenzhen - Longhua Tesla Center, China","Longhua Auto City, No.1 Minkang Rd, Longhua Di...",Shenzhen,Guangdong,China,10,120.0,88,2014-07-26,22.618900,114.054820
18,"Buckeye, AZ",416 S Watson Rd,Buckeye,AZ,USA,12,250.0,338,2014-03-20,33.443011,-112.556876
19,"Atascadero, CA",6950 El Camino Real,Atascadero,CA,USA,8,125.0,262,2013-07-03,35.486560,-120.666330
20,"Gila Bend, AZ",826 W Pima St,Gila Bend,AZ,USA,16,250.0,221,2014-05-17,32.943969,-112.733506
21,"Yuma, AZ",310 N Madison Ave,Yuma,AZ,USA,12,250.0,43,2014-02-04,32.726686,-114.619093
22,"Greenwich - Northbound, CT",3000 Merritt Pkwy,Greenwich,CT,USA,4,150.0,82,2014-02-12,41.041538,-73.671661
23,"Milford - Northbound, CT",1 CT Turnpike N,Milford,CT,USA,2,120.0,19,2012-12-16,41.245814,-73.008988
24,"Port Orange, FL",5302 S Williamson Blvd,Port Orange,FL,USA,6,150.0,7,2013-09-13,29.108566,-81.034569
25,"Guangzhou - Panyu Yingbin Road Tesla Center, C...","Room 101-110, Building 1, Chuangqi I.PARK, No....",Guangzhou,Guangdong,China,6,250.0,0,2022-09-11,23.024584,113.339562
26,"Wenling - Taizhou Tesla Service, China","China Zhejiang Trading Center, Maoyang Village...",Wenling,Zhejiang,China,3,250.0,3,2022-09-22,28.398237,121.309214
27,"Worthington, MN",1290 Ryan's Rd,Worthington,MN,USA,6,120.0,478,2013-12-11,43.633850,-95.595647
28,"Burlington, NC",1080 Piper Ln,Burlington,NC,USA,8,120.0,197,2013-10-16,36.070790,-79.511211
29,"Quanzhou - Donghai Vanke, China","ITC Vanke Center, 188 Quannan Road, Bincheng C...",Quanzhou,Fujian,China,3,250.0,3,2022-09-22,24.863103,118.679607
30,"Spearfish, SD",3275 Old Belle Rd,Spearfish,SD,USA,6,150.0,1077,2017-10-30,44.520607,-103.890924
31,"Santee, SC",114 Bradford Blvd,Santee,SC,USA,8,150.0,39,2013-12-27,33.485858,-80.475763
32,"Mishawaka, IN",6501 Grape Rd,Mishawaka,IN,USA,6,120.0,234,2013-12-11,41.717400,-86.188700
33,"Angola, IN",3855 Indiana Rte 127,Angola,IN,USA,6,120.0,329,2013-12-09,41.699048,-85.000326
34,"Richmond, CA",2157 Meeker Ave,Richmond,CA,USA,12,150.0,4,2019-09-16,37.919969,-122.348976
35,"Farmington, NM",4200 Sierra Vista Dr,Farmington,NM,USA,4,120.0,1673,2014-01-10,36.766371,-108.144047
36,"Goodland, KS",2631 Enterprise Rd,Goodland,KS,USA,6,150.0,1129,2014-06-13,39.326253,-101.725171
37,"Somerset, PA",1030 N Center Ave,Somerset,PA,USA,6,150.0,641,2014-01-10,40.017383,-79.077117
38,"Ossining, NY",214 South Highland Ave,Ossining,NY,USA,12,150.0,21,2019-06-14,41.144011,-73.861472
39,"San Marcos, TX",3939 Interstate 35,San Marcos,TX,USA,12,150.0,202,2013-08-17,29.827692,-97.979677
40,"Columbus, TX",2535 Texas 71,Columbus,TX,USA,6,120.0,57,2013-10-07,29.690062,-96.537725
41,"Mitchell, SD",1305 W Havens St,Mitchell,SD,USA,6,120.0,410,2013-12-18,43.701129,-98.044500
42,"San Luis Obispo - Higuera St, CA",3897 S Higuera St,San Luis Obispo,CA,USA,20,250.0,38,2021-11-19,35.247841,-120.671930
43,"East Greenwich, RI",1000 Division St,East Greenwich,RI,USA,8,150.0,73,2014-01-06,41.660517,-71.497242
44,"Maumee, OH",1391 Conant St,Maumee,OH,USA,8,150.0,192,2014-01-13,41.578350,-83.664650
45,"Pleasant Prairie, WI",11211 120th Ave,Pleasant Prairie,WI,USA,8,120.0,216,2014-02-13,42.518715,-87.950428
46,"Cranberry Township, PA",1308 Freedom Rd,Cranberry Township,PA,USA,6,150.0,312,2014-04-04,40.683982,-80.108390
47,"Rapid City, SD",2200 N Maple Ave,Rapid City,SD,USA,4,120.0,1006,2013-11-25,44.105601,-103.212569
48,"Lumberton, NC",5093 Fayetteville Rd,Lumberton,NC,USA,8,150.0,40,2014-01-17,34.667629,-79.002343
49,"Yokohama, Japan","Kanagawa, Totsuka Kamiyabe-cho",Yokohama,NaN,Japan,4,120.0,43,2014-09-09,35.426015,139.537549

In [7]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5876 entries, 0 to 5875
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Supercharger    5876 non-null   object
 1   Street Address  5876 non-null   object
 2   City            5876 non-null   object
 3   State           5754 non-null   object
 4   Country         5876 non-null   object
 5   Stalls          5876 non-null   int32
 6   kW              5870 non-null   float64
 7   Elev(m)         5876 non-null   int32
 8   Open Date       5126 non-null   datetime64[ns]
 9   Latitude        5876 non-null   float64
 10  Longitude       5876 non-null   float64
dtypes: datetime64[ns](1), float64(3), int32(2), object(5)
memory usage: 459.2+ KB

In [8]:
#dropping all rows with NaN values
cleaned_data= raw_data.dropna()
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5026 entries, 0 to 5125
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Supercharger    5026 non-null   object
 1   Street Address  5026 non-null   object
 2   City            5026 non-null   object
 3   State           5026 non-null   object
 4   Country         5026 non-null   object
 5   Stalls          5026 non-null   int32
 6   kW              5026 non-null   float64
 7   Elev(m)         5026 non-null   int32
 8   Open Date       5026 non-null   datetime64[ns]
 9   Latitude        5026 non-null   float64
 10  Longitude       5026 non-null   float64
dtypes: datetime64[ns](1), float64(3), int32(2), object(5)
memory usage: 431.9+ KB

In [9]:
cleaned_data.head(50)

,Supercharger,Street Address,City,State,Country,Stalls,kW,Elev(m),Open Date,Latitude,Longitude
0,"Buellton, CA",555 McMurray Rd,Buellton,CA,USA,10,150.0,114,2013-07-13,34.614560,-120.188387
1,"Corning, CA",950 Hwy 99,Corning,CA,USA,6,150.0,87,2013-10-18,39.926454,-122.198393
2,"Barstow, CA",2812 Lenwood Rd,Barstow,CA,USA,16,150.0,725,2012-11-19,34.849129,-117.085446
3,"Tifton, GA",1310 U.S. 82,Tifton,GA,USA,8,150.0,92,2014-07-10,31.448847,-83.532210
4,"Roseville, CA",1151 Galleria Blvd,Roseville,CA,USA,7,150.0,66,2014-04-29,38.771208,-121.266149
5,"Oxnard, CA",2751 Park View Ct,Oxnard,CA,USA,20,150.0,24,2014-09-24,34.238654,-119.177398
6,"Daytona Beach - Gateway North Dr, FL",2330 Gateway N Dr,Daytona Beach,FL,USA,12,250.0,7,2022-11-19,29.223265,-81.099720
7,"Port St. Lucie, FL",1701 NW Peacock Blvd,Port St. Lucie,FL,USA,16,150.0,8,2013-07-25,27.313023,-80.406688
8,"Dallas - Park Ln, TX",8080 Park Ln,Dallas,TX,USA,16,250.0,179,2021-11-17,32.867639,-96.767245
9,"Dangjin, South Korea","63, Songak-ro, Songak-eup, Dangjin-si, Chungch...",Dangjin,Chungcheongnam,South Korea,4,120.0,42,2019-12-20,36.909503,126.694075
10,"Björkliden, Sweden",Björklidenvägen 70,Björkliden,Lappland,Sweden,3,250.0,471,2021-12-16,68.407105,18.676377
11,"El Centro, CA",3451 S Dogwood Rd,El Centro,CA,USA,12,150.0,-8,2014-12-28,32.760837,-115.532486
12,"Rosemont, IL",5220 Fashion Outlets Way,Rosemont,IL,USA,10,72.0,194,2018-11-06,41.975091,-87.866501
13,"Indio, CA",42100 Jackson St,Indio,CA,USA,46,250.0,-3,2014-09-26,33.741484,-116.215019
14,"Savannah, GA",400 Airways Ave,Savannah,GA,USA,8,125.0,6,2014-01-15,32.135507,-81.212767
15,"Holbrook, AZ",2096 Navajo Blvd,Holbrook,AZ,USA,12,250.0,1596,2014-01-15,34.922962,-110.145558
16,"Mooresville, NC",125 Center Square Dr,Mooresville,NC,USA,12,250.0,260,2021-11-19,35.587472,-80.873000
17,"Shenzhen - Longhua Tesla Center, China","Longhua Auto City, No.1 Minkang Rd, Longhua Di...",Shenzhen,Guangdong,China,10,120.0,88,2014-07-26,22.618900,114.054820
18,"Buckeye, AZ",416 S Watson Rd,Buckeye,AZ,USA,12,250.0,338,2014-03-20,33.443011,-112.556876
19,"Atascadero, CA",6950 El Camino Real,Atascadero,CA,USA,8,125.0,262,2013-07-03,35.486560,-120.666330
20,"Gila Bend, AZ",826 W Pima St,Gila Bend,AZ,USA,16,250.0,221,2014-05-17,32.943969,-112.733506
21,"Yuma, AZ",310 N Madison Ave,Yuma,AZ,USA,12,250.0,43,2014-02-04,32.726686,-114.619093
22,"Greenwich - Northbound, CT",3000 Merritt Pkwy,Greenwich,CT,USA,4,150.0,82,2014-02-12,41.041538,-73.671661
23,"Milford - Northbound, CT",1 CT Turnpike N,Milford,CT,USA,2,120.0,19,2012-12-16,41.245814,-73.008988
24,"Port Orange, FL",5302 S Williamson Blvd,Port Orange,FL,USA,6,150.0,7,2013-09-13,29.108566,-81.034569
25,"Guangzhou - Panyu Yingbin Road Tesla Center, C...","Room 101-110, Building 1, Chuangqi I.PARK, No....",Guangzhou,Guangdong,China,6,250.0,0,2022-09-11,23.024584,113.339562
26,"Wenling - Taizhou Tesla Service, China","China Zhejiang Trading Center, Maoyang Village...",Wenling,Zhejiang,China,3,250.0,3,2022-09-22,28.398237,121.309214
27,"Worthington, MN",1290 Ryan's Rd,Worthington,MN,USA,6,120.0,478,2013-12-11,43.633850,-95.595647
28,"Burlington, NC",1080 Piper Ln,Burlington,NC,USA,8,120.0,197,2013-10-16,36.070790,-79.511211
29,"Quanzhou - Donghai Vanke, China","ITC Vanke Center, 188 Quannan Road, Bincheng C...",Quanzhou,Fujian,China,3,250.0,3,2022-09-22,24.863103,118.679607
30,"Spearfish, SD",3275 Old Belle Rd,Spearfish,SD,USA,6,150.0,1077,2017-10-30,44.520607,-103.890924
31,"Santee, SC",114 Bradford Blvd,Santee,SC,USA,8,150.0,39,2013-12-27,33.485858,-80.475763
32,"Mishawaka, IN",6501 Grape Rd,Mishawaka,IN,USA,6,120.0,234,2013-12-11,41.717400,-86.188700
33,"Angola, IN",3855 Indiana Rte 127,Angola,IN,USA,6,120.0,329,2013-12-09,41.699048,-85.000326
34,"Richmond, CA",2157 Meeker Ave,Richmond,CA,USA,12,150.0,4,2019-09-16,37.919969,-122.348976
35,"Farmington, NM",4200 Sierra Vista Dr,Farmington,NM,USA,4,120.0,1673,2014-01-10,36.766371,-108.144047
36,"Goodland, KS",2631 Enterprise Rd,Goodland,KS,USA,6,150.0,1129,2014-06-13,39.326253,-101.725171
37,"Somerset, PA",1030 N Center Ave,Somerset,PA,USA,6,150.0,641,2014-01-10,40.017383,-79.077117
38,"Ossining, NY",214 South Highland Ave,Ossining,NY,USA,12,150.0,21,2019-06-14,41.144011,-73.861472
39,"San Marcos, TX",3939 Interstate 35,San Marcos,TX,USA,12,150.0,202,2013-08-17,29.827692,-97.979677
40,"Columbus, TX",2535 Texas 71,Columbus,TX,USA,6,120.0,57,2013-10-07,29.690062,-96.537725
41,"Mitchell, SD",1305 W Havens St,Mitchell,SD,USA,6,120.0,410,2013-12-18,43.701129,-98.044500
42,"San Luis Obispo - Higuera St, CA",3897 S Higuera St,San Luis Obispo,CA,USA,20,250.0,38,2021-11-19,35.247841,-120.671930
43,"East Greenwich, RI",1000 Division St,East Greenwich,RI,USA,8,150.0,73,2014-01-06,41.660517,-71.497242
44,"Maumee, OH",1391 Conant St,Maumee,OH,USA,8,150.0,192,2014-01-13,41.578350,-83.664650
45,"Pleasant Prairie, WI",11211 120th Ave,Pleasant Prairie,WI,USA,8,120.0,216,2014-02-13,42.518715,-87.950428
46,"Cranberry Township, PA",1308 Freedom Rd,Cranberry Township,PA,USA,6,150.0,312,2014-04-04,40.683982,-80.108390
47,"Rapid City, SD",2200 N Maple Ave,Rapid City,SD,USA,4,120.0,1006,2013-11-25,44.105601,-103.212569
48,"Lumberton, NC",5093 Fayetteville Rd,Lumberton,NC,USA,8,150.0,40,2014-01-17,34.667629,-79.002343
50,"Gallup, NM",111 Twin Buttes Rd,Gallup,NM,USA,8,250.0,1970,2014-01-07,35.505278,-108.828094

In [10]:
cleaned_data.describe()

,Stalls,kW,Elev(m),Open Date,Latitude,Longitude
count,5026.000000,5026.000000,5026.000000,5026,5026.000000,5026.000000
mean,9.164743,203.286510,229.492240,2020-07-06 18:53:26.048547328,37.025383,11.168604
min,2.000000,72.000000,-11.000000,2012-11-19 00:00:00,-44.354408,-157.941632
25%,6.000000,150.000000,13.000000,2018-10-12 00:00:00,30.703741,-82.485620
50%,8.000000,250.000000,67.000000,2021-03-26 00:00:00,37.457994,8.561589
75%,12.000000,250.000000,249.000000,2022-09-22 00:00:00,43.616725,114.787660
max,80.000000,250.000000,4338.000000,2023-06-03 00:00:00,70.999582,174.840171
std,5.844308,59.426278,423.426783,NaN,12.514649,96.161505

In [11]:
engine = create_engine("sqlite:///Tesla.sqlite")

In [12]:
cleaned_data.to_csv("cleaned_data.csv", index=False)

In [ ]:
cleaned_data = cleaned_data.rename(columns= {"

In [18]:
query = """CREATE TABLE supercharge_locations (
    id INTEGER PRIMARY KEY,
    Supercharger TEXT,
    Street_Address TEXT,
    City TEXT,
    State TEXT,
    Country TEXT,
    Stalls INTEGER,
    kW REAL,
    Elev_m INTEGER,
    Open_Date TEXT,
    Latitude REAL,
    Longitude REAL
)"""

with engine.connect() as con:
    con.execute(text(query))

In [23]:
cleaned_data = cleaned_data.rename(columns= {"Street Address" : "Street_Address","Elev(m)":"Elev_m","Open Date":"Open_Date"})

In [24]:
cleaned_data.columns

Index(['Supercharger', 'Street_Address', 'City', 'State', 'Country', 'Stalls',
       'kW', 'Elev_m', 'Open_Date', 'Latitude', 'Longitude'],
      dtype='object')

In [25]:
cleaned_data.to_sql("supercharge_locations", con=engine, index=False, method="multi", if_exists="append")

5026

In [26]:
# INSPECT to confirm existence

# Create the inspector and connect it to the engine
inspector_gadget = inspect(engine)

# Collect the names of tables within the database
tables = inspector_gadget.get_table_names()

# print metadata for each table
for table in tables:
    print(table)
    print("-----------")
    
    # get columns
    columns = inspector_gadget.get_columns(table)
    for column in columns:
        print(column["name"], column["type"])

    print()

supercharge_locations
-----------
id INTEGER
Supercharger TEXT
Street_Address TEXT
City TEXT
State TEXT
Country TEXT
Stalls INTEGER
kW REAL
Elev_m INTEGER
Open_Date TEXT
Latitude REAL
Longitude REAL

In [ ]:
engine.dispose()